.gradient__canvasContact{
    opacity: 1;
    box-sizing: border-box;
    padding: 60px;
    display: block;
    height: 100%;
    margin-top: 4%;
    border-radius: 5px;
    margin-left:8px;
    margin-right: 8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

.canvas__contactInfo__right>h2{
    color:white;
    text-align: left;
    margin-top: 3%;
}

.canvas__contactInfo__left>button{
    margin-top: 10%;
    background: transparent !important;
    color: #fff;
    
}

.canvas__contactInfo__left>button:hover{
    color: rgb(99, 4, 99);
}


.ContactForm__modalInput{
    width: 100%;
    height: 45px !important;
    margin-top: 4%;
    border: 1px solid white;
    padding: 12px !important;

}

.ContactForm__modalInput:focus{
    outline: none;
}

.modal__contactForm{
    background-image: url(https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?size=626&ext=jpg&ga=GA1.1.1695875034.1676504501&semt=sph.);
   
}

.modal__contactForm >p{
text-align: center;
}

.modal__contactTitle{
    color:#8b2174;
}
.modal__link{
    color:black;
    text-decoration: none !important;
}
