.header__logo{
    width: 40px !important;
    object-fit: contain;
    color: rgb(231, 224, 224);
 
 
}

.header__logo:hover{
    color:white;
}


.header{
    background:linear-gradient(-45deg, #23a6d5, #8f44ad,#46b39e,#34c7a5);
    animation: gradient 10s ease infinite;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color:#0a2540;
    text-decoration: none !important;
    
}



.header__option{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 0px 20px 0px 10px;
  
    
    
}

.header__optionLineOne{
    font-size: 15px ;
    padding: 4px 8px;
  
}
.header__optionLineTwo{
    font-size: 14px;
    font-weight: 700;
    padding: 4px 8px;
}




.dropdown:hover .header__dropdown {
    display: block;
    border-radius: 5px;
   

}
