.home__image{
    width: 100%;
    height: 500px;
    z-index: -1;
    margin-bottom: 15px;
    } 


    .top-left-text {
        position: absolute;
        top: 125px;
        left: 25px;
        width: 45%;
        font-size: 65px;
        border-bottom: 2px solid black;
        
}

.top-left-subtext{
    position: absolute;
    top: 350px;
    left: 25px;
    width: 45%;
    font-size: 20px;
 
}
@media screen and (max-width: 668px) {
    .top-left-subtext {
        display: none; 
    }
}

.hero_button{
    position: absolute;
    top: 425px;
    left: 25px;
    border-color: rgb(255, 255, 255) !important;
    background-color: #46b39e !important;

}

.hero_button:hover{
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    color:black;

}

    .home__col{
        background-color: white;
        z-index: 1;
        margin-left: 3%;
        width: 46% !important;
        padding: 20px;
        margin-bottom: 2%;
        height: 40% !important;

    }

    .home__col:hover{
        transform:translatey(-40px);
        box-shadow:0 30px 10px -10px #666;
    }

    @media screen and (max-width: 600px){
        .home__col{
            width: 91% !important;
    
        }
    }

    .home__col2{
        background-color: white;
        z-index: 1;
        margin-left: 2%;
        width: 31% !important;
        padding: 20px;
        margin-bottom: 2%;
    }
    .home__col2:hover{
        transform:translatey(-40px);
        box-shadow:0 30px 10px -10px #666;
    }

    @media screen and (max-width: 600px){
        .home__col2{
            width: 91% !important;
            margin-left: 3%;
    
        }
    }

    .home__col3{
        background-color: white;
        z-index: 1;
        padding: 20px;
        margin: 0% 1% 2% 2%;
        width: 47% !important;
    }

    .home__col3:hover{
        transform:translatey(-40px);
        box-shadow:0 30px 10px -10px #666;
    }

    @media screen and (max-width: 600px){
        .home__col3{
            width: 94% !important;
            margin-left: 1%;
            
        }
    }

    .Linkein{
        background-color: #23a6d5;
        color: white;
        padding: 11px 30px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 5px;
    }

    .Linkein:hover{
        background-color: rgb(255, 255, 255) !important;
        border-color: rgb(255, 255, 255) !important;
        color:black;
    
    }
    