.cardEffect {
    width: 40ch;
    height: 45ch;
    background: grey;
    border-radius: 5px;
    background-image: url(https://img.freepik.com/free-vector/desktop-smartphone-app-development_23-2148683810.jpg?w=740&t=st=1675366778~exp=1675367378~hmac=7a8c47790a008a628540b53235a5785e00ddaf5ca4f67c6d1f0a2d47bdeff274);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
    margin-bottom: 10%;
    display: flex;
  }
  
  .cardEffect:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    
  }

  .wrapperImg {
    overflow: hidden;
    
   
} 
